body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

p {
  font-weight: 300;
}

.hero .image-box p,
.information p,
.footer p  {
  font-weight: 400;
}

button {
  padding: 8px 32px 8px 32px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 700;
  color: #E5E7EB;
}

.header h3 {
  font-weight: 900;
}

.header ul {
  display: flex;
  gap: 18px;
  list-style-type: none;
}

.header ul a {
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  color: #E5E7EB;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 420px;
  padding: 16px 0 16px 0;
  background-color: #1F2937;
  color: #F9FAF8;
}

.hero h1 {
  font-weight: 900;
  color: #F9FAF8;
}

.hero p {
  margin-bottom: 10px;
  font-size: 18px;
}

.hero button {
  border-style: none;
  background-color: #3882F6;
}

.hero .text-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
}

.hero .image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 200px;
  background-color: #6D747D;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 65px;
  padding: 100px 30px 100px 30px;
  background-color: #1F2937;
  color: #E5E7EB;
}

.information h2{
  font-weight: 900;
  color: #1F2937;
}

.info-piece .image-box {
  border: 4px solid #3882F6;
  border-radius: 16px;
  width: 150px;
  height: 150px;
}

.info-piece {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 150px;
  text-align: center;
  color: #6D747D;
}

.info-container {
  display: flex;
  gap: 50px;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 50px 30px 100px 30px;
}

.quote p {
  width: 790px;
  font-size: 36px;
  font-style: italic;
}

.quote h3 {
  align-self: flex-end;
  margin: 0 40px 0 0;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial {
  display: flex;
  justify-content: center;
  padding: 100px;
  background-color: #E5E7EB;
  color: #1F2937;
}

.call-to-action button {
  border: 3px solid #E5E7EB;
  background-color: transparent;
}

.call-to-action .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  padding: 45px 100px 45px 100px;
  border-radius: 8px;
  background-color: #3882F6;
}

.call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 200px 100px 200px;
  color: #E5E7EB;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 30px 200px 30px 200px;
  background-color: #1F2937;
  color: #E5E7EB;
}