@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url(./fonts/Roboto/Roboto-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url(./fonts/Roboto/Roboto-Black.ttf) format("truetype");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", serif;
}

h1 {
  font-size: 24px;
  font-weight: 900;
}

ul {
  list-style-type: none;
}

ul a {
  font-size: 16px;
  text-decoration: none;
  color: #E5E7EB;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1F2937;
  color: #F9FAF8;
}

.header-links {
  display: flex;
  gap: 18px;
}